<div class="d-flex align-items-center justify-content-between mx-4 pt-2 pb-8">
  <h4>Webs asociadas</h4>
  <% if can? :create, Web  %>
    <%= link_to new_web_path(web_company_id: web_company.id),
      class: "btn btn-flush btn-active-color-primary",
      title: "Añadir web",
      data: { controller: "tooltip", turbo_stream: true } do
    %>
      <i class="fa fa-plus-circle fs-1"></i>
    <% end %>
  <% end %>
</div>


<table class="table gs-7">
  <tbody>
    <% web_length = webs.count %>
    <% webs.each_with_index do |web, i| %>
      <% tags = web.tags %>
      <tr>
        <td class="pb-1">
          <%= image_tag web.favicon? ? web.favicon.url : asset_path("logo-sm.png"), class: "w-20px h-20px" %>
        </td>
        <td class="pb-1 fw-semibold">
          <%= link_to web.name, web %>
        </td>
        <td class="pb-1">
          <%= link_to web.access_url, target: "_blank", rel: "noopener" do %>
            <%= web.display_access_url %> <i class="fa-solid fa-arrow-up-right-from-square ms-2 text-primary"></i>
          <% end %>
        </td>
        <% if can? :manage, Web  %>
          <td class="text-end pb-1 pe-5">
            <div class="d-flex justify-content-end gap-2">
              <% if can? :manage, web %>
                <%= link_to edit_web_path(web),
                  class: "btn btn-flush btn-color-muted btn-active-color-success",
                  data: { turbo_stream: true } do
                %>
                  <i class="fa-solid fa-pen fs-5"></i>
                <% end %>
                <%= link_to web, class: "btn btn-flush btn-color-muted btn-active-color-danger",
                  data: {turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } do
                %>
                  <i class="fa-solid fa-xmark-circle fs-5"></i>
                <% end %>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
      <% if tags.any? %>
        <tr>
          <td class="pt-0"></td>
          <td colspan="2" class="pt-0">
            <div class="d-flex flex-wrap align-items-center gap-2">
              <% tags.each do |tag| %>
                <%= tag_badge tag %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      <% unless i == (web_length -1) %>
        <tr>
          <td colspan="4" class="py-3">
            <div class="separator"></div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= render "components/turbo_modal", channel: :web, title: "Nueva web" %>