<div class="d-flex align-items-center justify-content-between mx-4 pt-2 pb-8">
  <h4>Webs asociadas</h4>
  <% if can? :create, Web  %>
    <%= link_to new_web_path(web_company_id: web_company.id),
      class: "btn btn-flush btn-active-color-primary",
      title: "Añadir web",
      data: { controller: "tooltip" } do
    %>
      <i class="fa fa-plus-circle fs-1"></i>
    <% end %>
  <% end %>
</div>


<table class="table table-striped gs-7">
  <tbody>
    <% webs.each do |web| %>
      <tr>
        <td>
          <%= image_tag web.favicon? ? web.favicon.url : asset_path("logo-sm.png"),
            class: "w-30px h-30px"
          %>
        </td>
        <td><%= link_to web.name, web %></td>
        <td><%= web.access_url.present? ? web.access_url : "-" %></td>
        <td><%= boolean_icon(web.active) %></td>
        <% if can? :manage, Web  %>
          <td class="text-end">
            <div class="d-flex justify-content-end gap-4">
              <%= link_to edit_web_path(web), class: "btn btn-flush btn-color-muted btn-active-color-success" do %>
                <i class="fa-solid fa-pen fs-6"></i>
              <% end %>
              <%= link_to web, class: "btn btn-flush btn-color-muted btn-active-color-danger",
                data: {turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } do
              %>
                <i class="fa-solid fa-xmark-circle fs-6"></i>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
