<div id="<%= dom_id web %>">
  <p>
    <strong>Web company:</strong>
    <%= web.web_company_id %>
  </p>

  <p>
    <strong>Web company type:</strong>
    <%= web.web_company_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= web.name %>
  </p>

  <p>
    <strong>Alias:</strong>
    <%= web.alias %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= web.logo %>
  </p>

  <p>
    <strong>Access url:</strong>
    <%= web.access_url %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= web.active %>
  </p>

  <p>
    <strong>Creator user:</strong>
    <%= web.creator_user_id %>
  </p>

  <p>
    <strong>Creator user name:</strong>
    <%= web.creator_user_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= web.status %>
  </p>

  <p>
    <strong>Send button:</strong>
    <%= web.send_button %>
  </p>

</div>
