<% @invitation_token ||= InvitationToken.new %>

<%# Force POST as users will never have a password set at this point, and update needs validation %>
<%= form_for resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: { method: :post } do |form|
%>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= form.hidden_field :email, value: @invitation_token.email %>
  <%= hidden_field_tag :token, @invitation_token.id %>

  <div class="field mb-4">
    <%= form.label :email_placeholder, "Correo Electrónico", class: "form-label" %>
    <%= form.email_field :email_placeholder,
      value: @invitation_token.email,
      autocomplete: "email",
      class: "form-control bg-transparent",
      disabled: true
    %>
  </div>

  <div class="field mb-4">
    <%= form.label :password, "Contraseña", class: "form-label" %>

    <%= form.password_field :password, autocomplete: "new-password", class: "form-control bg-transparent" %>
  </div>

  <div class="field mb-6">
    <%= form.label :password_confirmation, "Confirma Contraseña", class: "form-label" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-transparent" %>
  </div>

  <div class="actions">
    <%= form.submit "Registrarse", class: "btn btn-sinkroniza w-100" %>
  </div>
<% end %>

<div class="py-4">
  <%= render "devise/shared/links" %>
</div>
