<% if group_user.errors.any? %>
  <div class="alert alert-danger d-flex align-items-center p-5">
    <i class="fa-solid fa-xmark-circle fs-2x text-danger me-4"></i>
    <div class="d-flex flex-column">
      <h4 class="mb-1 text-dark">
        No se ha podido realizar la acción
      </h4>
      <span class="ms-4">
        <% group_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<div class="card card-body mb-8">
  <%= form_with model: group_user do |form| %>
    <%= form.hidden_field :group_id, value: group_user.group_id %>

    <div class="mb-4">
      <%= form.label :status, "Usuario", class: "form-label required" %>
      <%= form.collection_select :user_id,
        @available_users, :id, :full_name,
        { include_blank: "Seleccionar usuario"},
        class: "form-select"
      %>
    </div>

    <div class="mb-4">
      <%= form.label :role, "Rol", class: "form-label" %>
      <%= form.select :role,
        options_for_select(GroupUser.roles.map { |role, _val| [group_user_role_text(role), role] }, group_user.role),
        { include_blank: "Seleccionar rol"},
        class: "form-select"
      %>
    </div>
    
    <div class="mt-8">
      <%= form.button "Guardar", class: "btn btn-success btn-sm" %>
      <%= link_to "Cancelar", group_user.group, class: "btn btn-link btn-sm btn-color-muted btn-active-color-success ms-4" %>
    </div>
  <% end %>
</div>