<div class="d-flex align-items-center justify-content-between mx-4">
  <h4>Usuarios</h4>
  <% if can?(:manage, Group) && can?(:manage, GroupUser) %>
    <%= link_to new_group_user_path(group_id: group.id), class: "btn btn-sm btn-primary btn-sm" do %>
      <i class="fa fa-plus"></i> Añadir usuario
    <% end %>
  <% end %>
</div>

<table class="table table-hover table-rounded table-striped gy-7 gs-7">
  <thead>
    <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0 ">
      <th>Nombre</th>
      <th>Rol</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% group_users.each do |group_user| %>
      <tr>
        <td><%= group_user.user.full_name %></td>
        <td><%= group_user_badge group_user %></td>
        <td class="text-end">
          <button
            type="button"
            class="btn btn-sm btn-light btn-active-light-primary dropdown-toggle dropdown-toggle-split ms-4"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Acciones
          </button>
          <div class="dropdown-menu"  style="border: 1px solid #ECECEC">
            <%= link_to "Ver", show_user_path(group_user.user), class: 'dropdown-item' %>
            <%= link_to "Editar", edit_web_path(group_user), class: 'dropdown-item' %>
            <%= link_to "Eliminar", group_user, class:'dropdown-item', data: {turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>