<% if folder.errors.any? %>
  <div class="alert alert-danger d-flex align-items-center p-5">
    <i class="fa-solid fa-xmark-circle fs-2x text-danger me-4"></i>
    <div class="d-flex flex-column">
      <h4 class="mb-1 text-dark">
        No se ha podido realizar la acción
      </h4>
      <span class="ms-4">
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<div class="card card-body mb-8">
  <%= form_with model: folder do |form| %>

    <%= form.hidden_field :parent_folder_id, value: folder.parent_folder_id %>

    <div class="mb-4">
      <%= form.label :name, "Nombre", class: "form-label required" %>
      <%= form.text_field :name, class: "form-control form-control-solid" %>
    </div>

    <% if folder.has_parent? %>
      <%= form.hidden_field :company_id, value: folder.parent_folder.company_id %>
    <% else %>
      <div class="mb-4">
        <%= form.label :company_id, "Compañía", class: "form-label" %>
        <%= form.collection_select :company_id,
          Company.all.order(:name), :id, :name,
          { include_blank: "Seleccionar compañía" },
          class: "form-select" %>
      </div>
    <% end %>

    <div class="mt-5">
      <%= form.button "Guardar", class: "btn btn-success btn-sm" %>
      <%= link_to "Cancelar", folder.persisted? ? folder : folders_path, class: "btn btn-link btn-sm btn-color-muted btn-active-color-success ms-4" %>
    </div>

  <% end %>
</div>