<div id="<%= dom_id group %>">
  <p>
    <strong>Company:</strong>
    <%= group.company_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>description:</strong>
    <%= group.description %>
  </p>

  <p>
    <strong>Created by user:</strong>
    <%= group.created_by_user_id %>
  </p>

  <p>
    <strong>Group type:</strong>
    <%= group.group_type %>
  </p>

</div>
