<div class="card card-body w-100 w-xl-50">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Nombre</strong></td>
        <td><%= @group.name %></td>
      </tr>
      <% if @show_company %>
        <tr>
          <td><strong>Compañía</strong></td>
          <td><%= @group.company.name %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Creado por</strong></td>
        <td><%= @group.creator.full_name %></td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td><%= @group.description.present? ? @group.description : "-" %></td>
      </tr>
    </tbody>
  </table>
</div>

<% if can? :manage, Group %>
  <%= link_to "Editar", edit_group_path(@group), class: "d-block ms-2 mt-4" %>
<% end %>

<div class="card card-body mt-6">
  <%= render "group_users/index", group: @group, group_users: @group.group_users, embedded: true %>
</div>

<div class="ms-2 mt-4 mb-8">
  <%= link_to "← Atrás", groups_path %>
</div>

<%= render "components/turbo_modal", channel: :group_user, title: "Añadir usuario" %>
