<div class="card card-body w-100 w-xl-50">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Nombre</strong></td>
        <td><%= @group.name %></td>
      </tr>
      <tr>
        <td><strong>Compañía</strong></td>
        <td><%= @group.company.name %></td>
      </tr>
      <tr>
        <td><strong>Tipo</strong></td>
        <td><%= @group.group_type_text %></td>
      </tr>
      <tr>
        <td><strong>Creado por</strong></td>
        <td><%= User.find(@group.created_by_user_id).full_name %></td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td><%= @group.description.present? ? @group.description : "-" %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to "Editar", edit_group_path(@group), class: "d-block ms-2 mt-4 mb-6" %>

<div class="card card-body">
  <%= render "group_users/index", group: @group, group_users: @group.group_users %>
</div>
<%= link_to "← Atrás", groups_path, class: "d-block ms-2 mt-4 mb-8" %>
