<% if user && user.errors.any? %>
  <div class="alert alert-danger d-flex align-items-center p-5">
    <i class="fa-solid fa-xmark-circle fs-2x text-danger me-4"></i>
    <div class="d-flex flex-column">
      <h4 class="mb-1 text-dark">
        No se ha podido realizar la acción
      </h4>
      <span class="ms-4">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<div class="card card-body px-4 mb-6">
  <%= form_with model: user, url: url do |form| %>

    <%= hidden_field_tag :target, target %>

    <% if user.company_id? %>
      <%= form.hidden_field :company_id, value: user.company_id %>
      <%= form.hidden_field :role, value: :user %>
    <% else %>
      <div class="mb-4">
        <%= form.label :role, "Rol", class: "form-label" %>
        <%= form.select :role,
          options_for_select(User.roles.map { |role, _val| [user_role_text(role), role] }, user.role),
          {},
          class: "form-select"
        %>
      </div>

      <div class="mb-4">
        <%= form.label :company_id, "Compañía", class: "form-label" %>
        <%= form.collection_select :company_id,
          Company.order(:name), :id, :name,
          { include_blank: "Seleccionar compañía" },
          class: "form-select"
        %>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, "Nombre", class: "form-label required" %>
      <%= form.text_field :name, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :lastname, "Apellido", class: "form-label required" %>
      <%= form.text_field :lastname, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :email, "Email", class: "form-label required" %>
      <%= form.email_field :email, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :phone, "Teléfono", class: "form-label" %>
      <%= form.phone_field :phone, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :nif, "NIF", class: "form-label" %>
      <%= form.text_field :nif, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :date_expiration_password, "Caducidad contraseña", class: "form-label" %>
      <%= form.date_field :date_expiration_password, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :status, "Estado", class: "form-label" %>
      <%= form.select :status,
        options_for_select(User.statuses.map { |status, _val| [user_status_text(status), status] }, user.status),
        {},
        class: "form-select"
      %>
    </div>

    <div class="mt-6">
      <%= form.submit "Guardar", class: "btn btn-success btn-sm my-2" %>
      <%= link_to "Cancelar",
        target == :company ? user.company : (user.persisted? ? show_user_path(user) : users_path),
        class: "btn btn-link btn-sm btn-color-muted btn-active-color-success ms-4"
      %>
    </div>
  <% end %>
</div>

<% if user == current_user %>
  <%= form_with model: user, url: change_user_password_path(user), method: :put do |form| %>
    <div class="card card-body px-4 mb-8">
      <div class="mb-4">
        <%= form.label "Contraseña", class: "form-label" %>
        <%= form.password_field :password, class: "form-control form-control-solid" %>
      </div>

      <div class="mb-4">
        <%= form.label "Confirmar Contraseña", class: "fs-6 fw-semibold mb-2" %>
        <%= form.password_field :password_confirmation, class: "form-control form-control-solid" %>
      </div>

      <div class="mt-6">
        <%= form.submit "Cambiar contraseña", class: "btn btn-primary btn-sm" %>
        <%= link_to "Cancelar", user.persisted? ? show_user_path(user) : users_path, class: "btn btn-link btn-sm btn-color-muted btn-active-color-success ms-4" %>
      </div>
    </div>
  <% end %>
<% end %>
