<%= form_with model: user, url: url do |form| %>
  <div class="card card-body px-4">

    <% if user && user.errors.any? %>
      <div class="alert alert-danger d-flex align-items-center p-5">
        <i class="fa-solid fa-xmark-circle fs-2x text-danger me-4"></i>
        <div class="d-flex flex-column">
          <h4 class="mb-1 text-dark">
            No se ha podido realizar la acción
          </h4>
          <span class="ms-4">
            <% user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :role, "Rol", class: "form-label" %>
      <%= form.select :role,
        options_for_select(User.roles.map { |role, role_name| [role_name.capitalize, role] }),
        {},
        class: "form-select"
      %>
    </div>

    <div class="mb-4">
      <label class="form-label">Email</label>
      <%= form.email_field :email, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label "Nombre", class: "fs-6 fw-semibold mb-2" %>
      <%= form.text_field :name, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label "Apellido", class: "fs-6 fw-semibold mb-2" %>
      <%= form.text_field :lastname, class: "form-control form-control-solid" %>
    </div>

    <div class="separator mt-4 mb-4"></div>

    <div class="mb-4">
      <%= form.label "Contraseña", class: "fs-6 fw-semibold mb-2" %>
      <%= form.password_field :password, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label "Confirmar Contraseña", class: "fs-6 fw-semibold mb-2" %>
      <%= form.password_field :password_confirmation, class: "form-control form-control-solid" %>
    </div>

    <div>
      <%= form.submit "Guardar", class: "btn btn-success btn-sm my-2" %>
      <%= link_to "Cancelar", users_path, class: "btn btn-color-muted btn-active-color-success btn-sm my-2 ms-2" %>
    </div>
  </div>
  <% end %>