<% hide_role = local_assigns.fetch(:hide_role, false) %>

<div class="card mt-3">
  <div class="card-body pt-4">
    <div class="text-end mb-4">
      <small>
        <%= link_to params.to_unsafe_h.merge(format: :xlsx),
          class: "btn btn-flush btn-active-color-success fs-7" do
        %>
          <i class="far fa-file-excel"></i> Exportar Excel
        <% end %>
      </small>
    </div>

    <%= search_form_for (@target.nil? || @target == target) ? @q : User.ransack, url: users_path(target: target) do |f| %>

      <%= hidden_field_tag :target, target %>

      <div class="row">
        <!-- Search bar -->
        <div class="col-12 col-xl-6">
          <div class="input-group-prepend d-flex align-items-center gap-2">
            <%= f.search_field :email_or_name_cont, value: (@target.nil? || @target == target) ? @search : "",
              class: "form-control h-45px flex-grow-1",
              placeholder: "Email o nombre del usuario"
            %>
            <%= submit_tag "Buscar", class: "btn btn-primary btn-outline-primary ms-2"%>
          </div>
        </div>

        <!-- Date range -->
        <div class="col-12 col-xl-6 ps-4 ps-xl-6 pt-2 pb-6">
          <div class="d-flex align-items-center gap-4 h-40px mt-4 mt-xl-0">
            <small class="w-100 w-xl-auto">
              <b>Rango fechas:</b>
            </small>
            <div class="flex-grow-1">
              <%= f.date_field :created_at_gteq, class: "form-control h-40px", placeholder: "Inicio" %>
            </div>
            <div class="flex-grow-1">
              <%= f.date_field :created_at_lteq, class: "form-control h-40px", placeholder: "Fin" %>
            </div>
          </div>
        </div>
      </div>

      <div class="separator my-8"></div>

      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="d-flex flex-wrap justify-content-between align-items-center gap-4 h-40px mt-8 mt-xl-0 px-2">
            <small>
              <b>Ordenar por:</b>
            </small>
            <small>
              <%= sort_link(@q, :full_name, '<i class="fa-solid fa-user me-1"></i> Nombre'.html_safe, class: "text-dark") %>
            </small>
            <small>
              <%= sort_link(@q, :role, '<i class="fa-solid fa-user me-1"></i> Rol'.html_safe, class: "text-dark") %>
            </small>
            <small>
              <%= sort_link(@q, :created_at, '<i class="fa-solid fa-calendar me-1"></i> Fecha Registro'.html_safe, class: "text-dark") %>
            </small>
          </div>
        </div>

        <div class="col-12 col-xl-6">
          <div class="d-flex flex-wrap justify-content-between align-items-center gap-4 h-40px px-2">
            <small>
              <b>Mostrar:</b>
            </small>

            <small>
              <%= link_to users_path, class: "btn btn-flush btn-active-color-danger fs-7" do %>
                <i class="fa fa-times" aria-hidden="true"></i> Eliminar filtros
              <% end %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card card-body mt-5">
  <%= render "users/table", users: users, hide_role: hide_role %>
</div>

<div class="digg_pagination mt-3">
  <%= will_paginate users, container: false %>
</div>