<% hide_role = local_assigns.fetch(:hide_role, false) %>

<div class="card mt-3">
  <div class="card-body">
    <div class="text-end mb-3">
      <small>
        <%= link_to params.to_unsafe_h.merge(format: :xlsx), {style: 'color: #000000'} do %><i class="far fa-file-excel"></i> Exportar Excel <%end%>
      </small>
    </div>

    <%= search_form_for (@target.nil? || @target == target) ? @q : User.ransack, url: users_path(target: target) do |f| %>

      <%= hidden_field_tag :target, target %>

      <div class="row">
        <div class="col col-md-6">
          <div class="input-group-prepend" style="display: flex; align-items: center">
            <%= f.search_field :email_or_name_cont, value: (@target.nil? || @target == target) ? @search : "",
              class: "form-control h-45px",
              placeholder: "Email o nombre del usuario",
              style: "width: 90%;"
            %>
            <%= submit_tag "Buscar", class: "btn btn-primary btn-outline-primary ms-2"%>
          </div>
        </div>

        <div class="col col-md-6 text-end" style="display: flex; justify-content: space-between; align-items: center; height: 40px">
          <div class="col col-md-2 text-end">
            <small><b> Rango fechas: </b> </small>
          </div>

          <div class="col col-md-4">
            <%= f.date_field :created_at_gteq, class: 'form-control', placeholder: "Inicio", style: 'height: 40px' %>
          </div>

          <div class="col col-md-4">
            <%= f.date_field :created_at_lteq, class: 'form-control', placeholder: "Fin", style: 'height: 40px' %>
          </div>
        </div>
      </div>

      <div class="separator my-8"></div>

      <div class="row">
        <div class="col-md-6">
          <small><b>Ordenar por:</b></small>
          <span style="margin-left: 5%; color: #000000">
						<small><%= sort_link(@q, :created_at, '<i class="fa fa-calendar"></i> Fecha'.html_safe, {style: 'color: #000000'}) %></small>
					</span>
        </div>

        <div class="col-md-6">
          <small><b>Mostrar:</b></small>
          <span style="margin-left: 5%;">
						<small>
							<%= link_to users_path, method: 'get', style: "color: #000000" do %>
								<i class="fa fa-times" aria-hidden="true"></i> Eliminar filtros
							<% end %>
						</small>
					</span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card card-body mt-5">
  <%= render "users/table", users: users, hide_role: hide_role %>
</div>

<div class="digg_pagination mt-3">
  <%= will_paginate users, container: false %>
</div>