<% target = local_assigns.fetch(:target, nil) %>

<table class="table table-responsive table-hover table-striped gs-7">
  <thead>
    <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
      <th class="min-w-125px sorting">User</th>
      <th class="min-w-125px sorting">Estado</th>
      <% if @show_company %>
        <th class="min-w-125px sorting">Compañía</th>
      <% end %>
      <% unless hide_role %>
        <th class="min-w-125px sorting">Rol</th>
      <% end %>
      <th class="min-w-125px sorting">Email</th>
      <th class="min-w-125px sorting">Teléfono</th>
      <th class="min-w-125px sorting">Registrado</th>
      <th class="text-end" rowspan="1" colspan="1" style="width: 121.15px;" aria-label="Acciones"></th>
    </tr>
  </thead>

  <tbody class="text-gray-600 fw-semibold">
    <% users.each do |user| %>
      <tr class="h-60px">
        <td><%= render "users/item", user: user, link: show_user_path(user, target: target) %></td>
        <td><%= user_status_badge(user, tiny: true) %></td>
        <% if @show_company %>
          <td><%= user.company&.name || "-" %></td>
        <% end %>
        <% unless hide_role %>
          <td><%= user.role_text %></td>
        <% end %>
        <td><%= user.email %></td>
        <td><%= user.phone.presence || "-" %></td>
        <td><%= user.created_at.strftime("%d-%m-%Y – %H:%M") %></td>
        <td class="text-end">
          <button
            type="button"
            class="btn btn-light btn-active-light-primary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          >
            Acciones
          </button>
          <div class="dropdown-menu">
            <%= link_to "Ver", show_user_path(user, target: target), class: "dropdown-item" %>
            <%= link_to "Editar", edit_user_path(user, target: target), class: "dropdown-item" %>
            <%= link_to "Eliminar",
              delete_user_path(user, target: target),
              class:"dropdown-item",
              data: {
                turbo_method: :delete,
                turbo_confirm: user.status == "deleted" "El usuario será destruido. Esta acción no es reversible ¿Estás seguro?"
              }
            %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>