<% if can? :create, User %>
	<span style="width: fit-content;">
		<%= link_to new_user_path, class: "btn btn-success btn-sm fw-bold d-flex flex-row justify-content-center align-items-center w-200px" do %>
		<i class="fa fa-plus"></i> Nuevo usuario
		<% end %>
	</span>
<% end %>

<ul class="nav nav-tabs nav-line-tabs mt-8 mb-2 mx-4 fs-6">
	<li class="nav-item">
		<a class="nav-link <%= "active" if params[:target].nil? || params[:target] == "users" %>" data-bs-toggle="tab" href="#users">
			Usuarios
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= "active" if params[:target] == "discarded" %>" data-bs-toggle="tab" href="#discarded">
			Eliminados
		</a>
	</li>
</ul>

<div class="tab-content">

	<!-- Users -->
	<div class="tab-pane fade <%= "show active" if params[:target].nil? || params[:target] == "users" %>" id="users">
		<%= render "users/index", users: @users, target: "users" %>
	</div>

	<!-- Discarded -->
	<div class="tab-pane fade <%= "show active" if params[:target] == "discarded" %>" id="discarded">
		<%= render "users/index", users: @discarded_users, target: "discarded" %>
	</div>
</div>