<div id="<%= dom_id emergency_contact %>">
  <p>
    <strong>Owner user:</strong>
    <%= emergency_contact.owner_user_id %>
  </p>

  <p>
    <strong>Contact user:</strong>
    <%= emergency_contact.contact_user_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= emergency_contact.company_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= emergency_contact.status %>
  </p>

  <p>
    <strong>Wait days:</strong>
    <%= emergency_contact.wait_days %>
  </p>

  <p>
    <strong>Encrypted payload:</strong>
    <%= emergency_contact.encrypted_payload %>
  </p>

  <p>
    <strong>Crypto version:</strong>
    <%= emergency_contact.crypto_version %>
  </p>

</div>
