<table class="table table-hover table-rounded table-striped gy-7 gs-7">
  <thead>
    <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0 ">
      <th>Contacto</th>
      <th>Estado</th>
      <th>Días de espera</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if emergency_contacts.any? %>
      <% emergency_contacts.each do |emergency_contact| %>
        <% contact_user = emergency_contact.contact_user %>
        <tr>
          <td><%= link_to contact_user.full_name, show_user_path(contact_user) %></td>
          <td><%= emergency_contact_badge emergency_contact %></td>
          <td><%= emergency_contact.wait_days.presence || "-" %></td>
          <td class="text-end">
            <button
              type="button"
              class="btn btn-sm btn-light btn-active-light-primary dropdown-toggle dropdown-toggle-split ms-4"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Acciones
            </button>
            <div class="dropdown-menu" style="border: 1px solid #ECECEC">
              <%= link_to "Ver", emergency_contact, class: 'dropdown-item' %>
              <%= link_to "Editar", edit_emergency_contact_path(emergency_contact), class: 'dropdown-item' %>
              <%= link_to "Eliminar", emergency_contact, class:'dropdown-item', data: {turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td colspan="4" class="text-muted text-center fst-italic">
        No tienes contactos de emergencia
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
