<div id="<%= dom_id company %>">
  <p>
    <strong>Subscription:</strong>
    <%= company.subscription_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Legal name:</strong>
    <%= company.legal_name %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= company.tax_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= company.cp %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= company.logo %>
  </p>

  <p>
    <strong>Manager name:</strong>
    <%= company.manager_name %>
  </p>

  <p>
    <strong>Manager lastname:</strong>
    <%= company.manager_lastname %>
  </p>

  <p>
    <strong>Manager email:</strong>
    <%= company.manager_email %>
  </p>

  <p>
    <strong>Manager nif:</strong>
    <%= company.manager_nif %>
  </p>

  <p>
    <strong>Manager phone:</strong>
    <%= company.manager_phone %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= company.active %>
  </p>

  <p>
    <strong>Creator user:</strong>
    <%= company.creator_user_id %>
  </p>

  <p>
    <strong>Creator user name:</strong>
    <%= company.creator_user_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= company.status %>
  </p>

</div>
