<%= link_to new_company_path, class: "btn btn-success btn-sm w-200px" do %>
  <i class="fa fa-plus"></i> Nuevo cliente
<% end %>

<div class="card mt-3">
  <div class="card-body pt-4">
    <div class="text-end mb-4">
      <small>
        <%= link_to params.to_unsafe_h.merge(format: :xlsx),
          class: "btn btn-flush btn-active-color-success fs-7" do
        %>
          <i class="far fa-file-excel"></i> Exportar Excel
        <% end %>
      </small>
    </div>

    <%= search_form_for @q, url: companies_path do |f| %>

      <div class="row">
        <!-- Search bar -->
        <div class="col-12 col-xl-6">
          <div class="input-group-prepend d-flex align-items-center gap-2">
            <%= f.search_field :name_or_legal_name_cont, value: @search || "",
              class: "form-control h-45px flex-grow-1",
              placeholder: "Nombre on razón fiscal del cliente"
            %>
            <%= submit_tag "Buscar", class: "btn btn-primary btn-outline-primary ms-2"%>
          </div>
        </div>

        <!-- Date range -->
        <div class="col-12 col-xl-6 ps-4 ps-xl-6 pt-2 pb-6">
          <div class="d-flex align-items-center gap-4 h-40px mt-4 mt-xl-0">
            <small class="w-100 w-xl-auto">
              <b>Rango fechas:</b>
            </small>
            <div class="flex-grow-1">
              <%= f.date_field :created_at_gteq, class: "form-control h-40px", placeholder: "Inicio" %>
            </div>
            <div class="flex-grow-1">
              <%= f.date_field :created_at_lteq, class: "form-control h-40px", placeholder: "Fin" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="d-flex flex-wrap align-items-center gap-8 mt-8 mt-xl-0 px-2">
            <small>
              <b>Ordenar por:</b>
            </small>
            <small>
              <%= sort_link(@q, :name, '<i class="fa-solid fa-building me-1"></i> Nombre'.html_safe, class: "text-dark") %>
            </small>
            <small>
              <%= sort_link(@q, :legal_name, '<i class="fa-solid fa-building me-1"></i> Nombre legal'.html_safe, class: "text-dark") %>
            </small>
            <small>
              <%= sort_link(@q, :creator_name, '<i class="fa-solid fa-user me-1"></i> Creador'.html_safe, class: "text-dark") %>
            </small>
            <small>
              <%= sort_link(@q, :created_at, '<i class="fa-solid fa-calendar me-1"></i> Fecha Registro'.html_safe, class: "text-dark") %>
            </small>
          </div>
        </div>

        <div class="col-12 col-xl-6">
          <div class="d-flex flex-wrap align-items-center gap-8 px-2">
            <small>
              <b>Mostrar:</b>
            </small>

            <small class="flex-grow-1 text-end">
              <%= link_to companies_path, class: "btn btn-flush btn-active-color-danger fs-7" do %>
                <i class="fa fa-times" aria-hidden="true"></i> Eliminar filtros
              <% end %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card card-body mt-5">
  <table class="table table-hover table-rounded table-striped gy-7 gs-7">
    <thead>
      <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0 ">
        <th>Logo</th>
        <th>Nombre</th>
        <th>Suscripción</th>
        <th>Razón fiscal</th>
        <th>ID Fiscal</th>
        <th>Dirección</th>
        <th>Administrador</th>
        <th>Creada por</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <% subscription = company.subscription %>
        <tr>
          <td><%= company.logo? ? image_tag(company.logo.url, class: "w-100px") : "-" %></td>
          <td><%= link_to company.name, company %></td>
          <td><%= link_to subscription.name, subscription %></td>
          <td><%= company.legal_name.present? ? company.legal_name : "-" %></td>
          <td><%= company.tax_id.present? ? company.tax_id : "-" %></td>
          <td><%= company.full_address.presence || "-" %></td>
          <td><%= company.manager&.full_name || "-" %></td>
          <td><%= company.creator.full_name %></td>
          <td><%= company_status_badge company %></td>

          <td class="text-end">
            <button
              type="button"
              class="btn btn-light btn-active-light-primary dropdown-toggle dropdown-toggle-split ms-4"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Acciones
            </button>
            <div class="dropdown-menu" style="border: 1px solid #ECECEC">
              <%= link_to "Ver", company, class: "dropdown-item" %>
              <%= link_to "Editar", edit_company_path(company), class: "dropdown-item" %>
              <%= link_to "Eliminar", company, class:"dropdown-item", data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
