<div class="card card-body">
  <%= form_with model: subscription do |form| %>

    <% if subscription && subscription.errors.any? %>
      <div class="alert alert-danger d-flex align-items-center p-5">
        <i class="fa-solid fa-xmark-circle fs-2x text-danger me-4"></i>
        <div class="d-flex flex-column">
          <h4 class="mb-1 text-dark">
            No se ha podido realizar la acción
          </h4>
          <span class="ms-4">
            <% subscription.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, "Nombre", class: "form-label required" %>
      <%= form.text_field :name, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :quantity_users, "Cantidad de usuarios", class: "form-label required" %>
      <%= form.number_field :quantity_users, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, "Descripción", class: "form-label" %>
      <%= form.text_area :description, class: "form-control form-control-solid" %>
    </div>

    <div class="mt-5">
      <%= form.button "Guardar", class: "btn btn-success btn-sm" %>
      <%= link_to "Cancelar", subscriptions_path, class: "btn btn-sm btn-color-muted btn-active-color-success" %>
    </div>
  <% end %>
</div>
