<div id="<%= dom_id subscription %>">
  <p>
    <strong>Name:</strong>
    <%= subscription.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subscription.description %>
  </p>

  <p>
    <strong>Quantity users:</strong>
    <%= subscription.quantity_users %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

</div>
