<div class="card card-body" id="subscriptions">

  <%= link_to new_subscription_path, class: "btn btn-success btn-sm mw-200px" do %>
    <i class="fa fa-plus"></i> Nueva subscripción
  <% end %>

  <div class="separator my-10"></div>

  <table class="table table-hover table-rounded table-striped gs-7">
    <thead>
      <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0 ">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cantidad usuarios</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |subscription| %>
        <tr>
          <td><%= link_to subscription.name, subscription %></td>
          <td><%= subscription.description %></td>
          <td><%= subscription.quantity_users %></td>
          <td><%= subscription.status %></td>

          <td class="text-end">
            <button type="button" class="btn btn-light btn-active-light-primary dropdown-toggle dropdown-toggle-split" style="margin-left: 20px" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acciones
            </button>
            <div class="dropdown-menu"  style="border: 1px solid #ECECEC">
                <%= link_to "Ver", subscription, class: 'dropdown-item' %>
                <%= link_to "Editar", edit_subscription_path(subscription), class: 'dropdown-item' %>
                <%= link_to "Eliminar", subscription, class:'dropdown-item', data: {turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
