<div id="<%= dom_id credential %>">
  <p>
    <strong>Group:</strong>
    <%= credential.group_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= credential.company_id %>
  </p>

  <p>
    <strong>Web:</strong>
    <%= credential.web_id %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= credential.tags.pluck(:name) %>
  </p>

  <p>
    <strong>Web company type:</strong>
    <%= credential.web_company_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= credential.name %>
  </p>

  <p>
    <strong>description:</strong>
    <%= credential.description %>
  </p>

  <p>
    <strong>Admin description:</strong>
    <%= credential.admin_description %>
  </p>

  <p>
    <strong>Encrypted blob:</strong>
    <%= credential.encrypted_blob %>
  </p>

  <p>
    <strong>Mediator code:</strong>
    <%= credential.mediator_code %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= credential.priority %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= credential.owner %>
  </p>

  <p>
    <strong>Visible extension:</strong>
    <%= credential.visible_extension %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= credential.active %>
  </p>

  <p>
    <strong>Credential type:</strong>
    <%= credential.credential_type %>
  </p>

</div>
