<% if credential.errors.any? %>
  <div class="alert alert-danger d-flex align-items-center p-5">
    <i class="fa-solid fa-xmark-circle fs-2x text-danger me-4"></i>
    <div class="d-flex flex-column">
      <h4 class="mb-1 text-danger">
        No se ha podido realizar la acción
      </h4>
      <span class="ms-4">
        <% credential.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<div class="card card-body mb-8">
  <%= form_with model: credential, data: { turbo: false } do |form| %>
    <div class="mb-4">
      <%= form.label :name, "Nombre", class: "form-label required" %>
      <%= form.text_field :name, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :web_id, "Web", class: "form-label required" %>
      <%= form.collection_select :web_id,
        Web.order(:name), :id, :name,
        { include_blank: "Seleccciona web" },
        class: "form-select"
      %>
    </div>

    <div class="mb-4">
      <%= form.label :credential_type, "Tipo de credencial", class: "form-label required" %>
      <%= form.select :credential_type,
        options_for_select(
          Credential.credential_types.map { |type, _val| [credential_type_text(type), type]},
          credential.credential_type
        ),
        { include_blank: "Seleccciona tipo de credencial" },
        class: "form-select"
      %>
    </div>

    <div class="mb-4">
      <%= form.label :group_id, "Grupo", class: "form-label required" %>
      <%= form.collection_select :group_id,
        Group.order(:name), :id, :name,
        { include_blank: "Seleccciona grupo" },
        class: "form-select"
      %>
    </div>

    <div class="mb-4">
      <%= form.label :tags_ids, "Tags", class: "form-label required" %>
      <%= form.collection_select :tags_ids,
        Tag.order(:name), :id, :name,
        { include_blank: "Añade tags" },
        class: "form-select",
        multiple: true
      %>
    </div>

    <div class="mb-4">
      <%= form.label :web_company_type, "Tipo web", class: "form-label" %>
      <%= form.text_field :web_company_type, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, "Descripción", class: "form-label" %>
      <%= form.text_area :description, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :admin_description, "Descripción Admin", class: "form-label" %>
      <%= form.text_area :admin_description, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :priority, "Prioridad", class: "form-label" %>
      <%= form.text_field :priority, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :owner, "Dueño", class: "form-label" %>
      <%= form.text_field :owner, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :visible_extension, "Visible en extensión", class: "form-label my-4" %>
      <%= form.check_box :visible_extension %>
    </div>

    <div class="mb-4">
      <%= form.label :active, "Activa", class: "form-label my-4" %>
      <%= form.check_box :active %>
    </div>

    <div class="mt-8">
      <%= form.button "Guardar", class: "btn btn-success btn-sm" %>
      <%= link_to "Cancelar", credential.persisted? ? credential : credentials_path, class: "btn btn-link btn-sm btn-color-muted btn-active-color-success ms-4" %>
    </div>
  <% end %>
</div>