<div class="card card-body" id="credentials">
  <%= link_to new_credential_path, class: "btn btn-success btn-sm w-200px" do %>
    <i class="fa fa-plus"></i> Nueva credencial
  <% end %>

  <div class="separator mt-10 mb-3"></div>

  <table class="table table-hover table-rounded table-striped gy-7 gs-7">
    <thead>
      <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0 ">
        <th>Nombre</th>
        <th>Compañía</th>
        <th>Web</th>
        <th>Grupo</th>
        <th>Carpeta</th>
        <th>Prioridad</th>
        <th>Dueño</th>
        <th>Activa</th>
        <th>Visible en extensión</th>
        <th>Tipo web</th>
        <th>Tipo credencial</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @credentials.each do |credential| %>
        <tr>
          <td><%= link_to credential.name, credential %></td>
          <td><%= link_to credential.company.name, credential.company %></td>
          <td><%= link_to credential.web.name, credential.web %></td>
          <td><%= credential.group_id ? link_to(credential.group.name, credential.group) : "-" %></td>
          <td><%= credential.folder_id ? link_to(credential.folder.name, credential.folder) : "-" %></td>
          <td><%= credential.priority %></td>
          <td><%= credential.owner? ? credential.owner : "-" %></td>
          <td><%= boolean_icon credential.active %></td>
          <td><%= boolean_icon credential.visible_extension %></td>
          <td><%= credential.web_company_type? ? credential.web_company_type : "-" %></td>
          <td><%= credential.credential_type_text %></td>

          <td class="text-end">
            <button type="button" class="btn btn-light btn-active-light-primary dropdown-toggle dropdown-toggle-split" style="margin-left: 20px" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acciones
            </button>
            <div class="dropdown-menu"  style="border: 1px solid #ECECEC">
              <%= link_to "Ver", credential, class: 'dropdown-item' %>
              <%= link_to "Editar", edit_credential_path(credential), class: 'dropdown-item' %>
              <%= link_to "Eliminar", credential, class:'dropdown-item', data: {turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
