<div class="card card-body w-100 w-xl-50">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Nombre</strong></td>
        <td><%= @credential.name %></td>
      </tr>
      <tr>
        <td><strong>Web</strong></td>
        <td><%= @credential.web.name %></td>
      </tr>
      <tr>
        <td><strong>Tipo de credencial</strong></td>
        <td><%= @credential.credential_type_text %></td>
      </tr>
      <tr>
        <td><strong>Groupo</strong></td>
        <td><%= @credential.group_id ? @credential.group.name : "-" %></td>
      </tr>
      <tr>
        <td><strong>Tags</strong></td>
        <td><%= @credential.tags.pluck(:name).join(", ") %></td>
      </tr>
      <tr>
        <td><strong>Tipo de web</strong></td>
        <td><%= @credential.web_company_type? ? @credential.web_company_type : "-" %></td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td><%= @credential.description? ? @credential.description : "-" %></td>
      </tr>
      <tr>
        <td><strong>Descripción Admin</strong></td>
        <td><%= @credential.admin_description? ? @credential.admin_description : "-" %></td>
      </tr>
      <tr>
        <td><strong>Prioridad</strong></td>
        <td><%= @credential.priority? ? @credential.priority : "-" %></td>
      </tr>
      <tr>
        <td><strong>Dueño</strong></td>
        <td><%= @credential.owner? ? @credential.owner : "-" %></td>
      </tr>
      <tr>
        <td><strong>Visible en extensión</strong></td>
        <td><%= boolean_icon @credential.visible_extension %></td>
      </tr>
      <tr>
        <td><strong>Activa</strong></td>
        <td><%= boolean_icon @credential.active %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="flex items-center justify-start mt-4 mb-8">
  <%= link_to "← Atrás", credentials_path, class: "me-1" %> |
  <%= link_to "Editar", edit_credential_path(@credential), class: "ms-1" %>
</div>
