<!-- lib/templates/erb/scaffold/_form.html.erb.tt -->
<div class="card card-body">

<%= form_with(model: log) do |form| %>

  <% if log.errors.any? %>
  <div class="alert alert-danger d-flex align-items-center p-5">
      <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
      <div class="d-flex flex-column">
          <h4 class="mb-1 text-dark"><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h4>
          <span style="margin-left: 10px;">
            <% log.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </span>
      </div>
  </div>
  <% end %>

  <div class="mb-4">
  
      <%= form.label :user_id, class: "fs-6 fw-semibold mb-2" %>
      <%= form.number_field :user_id, class: "form-control form-control-solid" %>
  
  </div>

  <div class="mb-4">
  
      <%= form.label :user_name, class: "fs-6 fw-semibold mb-2" %>
      <%= form.text_field :user_name, class: "form-control form-control-solid" %>
  
  </div>

  <div class="mb-4">
  
      <%= form.label :action, class: "fs-6 fw-semibold mb-2" %>
      <%= form.text_field :action, class: "form-control form-control-solid" %>
  
  </div>


<div class="mt-5">
   <%= form.button "Save", class: "btn btn-success btn-sm" %>
</div>
<% end %>

</div>
