<% if log.errors.any? %>
  <div class="alert alert-danger d-flex align-items-center p-5">
    <i class="fa-solid fa-xmark-circle fs-2x text-danger me-4"></i>
    <div class="d-flex flex-column">
      <h4 class="mb-1 text-dark">
        No se ha podido realizar la acción
      </h4>
      <span class="ms-4">
        <% log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<div class="card card-body mb-8">
  <%= form_with model: log do |form| %>

    <div class="mb-4">
      <%= form.label :user_id, class: "fs-6 fw-semibold mb-2" %>
      <%= form.number_field :user_id, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :user_name, class: "fs-6 fw-semibold mb-2" %>
      <%= form.text_field :user_name, class: "form-control form-control-solid" %>
    </div>

    <div class="mb-4">
      <%= form.label :action, class: "fs-6 fw-semibold mb-2" %>
      <%= form.text_field :action, class: "form-control form-control-solid" %>
    </div>

    <div class="mt-5">
       <%= form.button "Save", class: "btn btn-success btn-sm" %>
    </div>
  <% end %>
</div>
